@charset "utf-8";
/* CSS Document */

body{
	background:url( url(inteligencia-artificial-abstracta-brain-concept-creativo-fondo-del-web-de-la-tecnolog%C3%ADa-129372398.jpg));
	background-repeat:no-repeat;
	background-size:cover;
	
	}